@import "tailwindcss";

@theme {
  --color-ocean: #0a223d;
  --color-tropical: #008cff;
  --color-aqua: #249995;
  --color-sky: #e8f1f8;
  --color-cloud: #f4f4f4;
  --color-jungle: #26b5a9;
  --color-palm: #219653;
  --color-sand: #fef0c9;
  --color-rock: #4a4a4a;
  --color-sunset: #d84e55;
  --color-coral: #eb5757;
  --color-gold: #f5a623;
  --color-purple: #8655A6;
  --color-indigo: #1a1a1a;
}

body {
  @apply bg-cloud text-indigo;
  font-family: 'Inter', sans-serif;
}
